.modal-card {
    max-height: 90vh; /* Allow modal to grow up to 90% of the viewport height */
    overflow: auto; /* Scroll if the content exceeds the max height */
    transition: max-height 0.3s ease; /* Smooth transition effect */
  }
  
  .modal-card-body {
    height: auto; /* Dynamic height based on content */
    overflow: visible; /* Ensure all content is visible */
  }
  
  
.task-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px
}
.input{
    max-width: 30%;
    text-align: center;

}
.assigned-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px
}
.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px
}
.deadline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px
}
.update{
    display: flex;
    justify-content: center;
}