.modal-background {
    background-color: transparent;
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name input {
    padding: 0px;
    margin: 5px
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description input {
    margin: 5px;
    padding: 0px
}
.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.status input{
    margin: 5px;
    padding: 0px
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username input {
    margin: 5px;
    padding: 0px
}
